- versions = [] unless local_assigns[:versions]

-# Project Versions
- tabs do
  - tab "Downloads", "versions" do
    = partial versions
    - check_empty(versions, "downloads") do
      = br
      = link_to "Upload One Now...", "#", :class => "switch-to-last"      
    
  - tab "Upload New...", "versions_add" do
    .tab-form= partial "versions/form"