- projects = [] unless local_assigns[:projects]

- if projects.empty?
  %p You haven't bookmarked any applications.
- else
  -# list my projects
  = partial "projects/parts/list", :projects => @my_projects, :action => local_assigns[:action]
  