.pagination { margin: 0 0 20px 0; padding: 10px 0 0 0; color: #838383; }
.pagination a { padding: 4px 8px 4px 8px; background: #fff; border: 1px solid #aaa; color: #838383; font-size: 10px; margin: 0 5px 0 0; }
.pagination a:hover { padding: 4px 8px 4px 8px; border: 1px solid #0066cb; color: #0066cb; text-decoration: none; font-size: 10px; margin: 0 5px 0 0; }
.pagination .current { padding: 4px 8px 4px 8px; border: 1px solid #0066cb; color: #0066cb; font-size: 10px; margin: 0 5px 0 0; }
.pagination span { padding: 4px 8px 4px 8px; border: 1px solid #aaa; font-size: 10px; margin: 0 5px 0 0; }
