.mini-form
  padding-top: 10px
  .field
    margin: 0
  
  .field.text_field, .field.password_field
    input
      width: 255px
      margin-right: 10px
  
  .field.text_area
    textarea
      width: 255px
      height: 60px
  
  .check_box
    padding-top: 15px
  .actions 
    width: inherit !important
    margin-top: 15px
    input, img
      vertical-align: -5px
    
    label
      input
        vertical-align: -3px