<div class="details main">
  <h2>
    Totspot
  </h2>
  <p>
    <a href="http://totspot.com/login" target="_blank" title="Totspot"><img src="/images/gallery/totspot_lg.gif" alt="" /></a>
    <br class="clear" />
  </p>
  <div id="post-ratings-830" class="post-ratings">
    <span>1 Votes, Rating: 4</span><img is="rating_830_1" src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img id="rating_830_2" src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img id="rating_830_3" src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img id="rating_830_4" src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img id="rating_830_5" src="/images/rating_off.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
  </div>
  <p class="tags">
    <strong>Tags:</strong> <a href="#tag/kids/" rel="tag">Kids</a>, <a href="#tag/service/" rel="tag">Service</a>
  </p>
</div>
<div class="details description">
  <h2>
    Project Description
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  </p>
  <div class="clear"></div>
</div>

<div class="comments">
  <h2>
    Comments (1)
  </h2>
  <ul id="comment-list">
    <li class="comment" id="comment-20">

      <div class="details">
        <p class="comment-meta">
          <span class="comment-num"><a href="#comment-20" title="Permalink to this comment">#1</a></span> <strong>Dude Man</strong> <span class="comment-time">~ Mar 29, 2008 at 9:10 pm</span>
        </p>
        <p>
          Love the look of this splash page. Color scheme really stands out and seems to target their intended audience really well. Cant wait to see their real site!
        </p>
      </div>
    </li>
    
  </ul>
  
  <!-- Comment Form -->
  <div class="details">
    <h2>
      Post a Comment
    </h2>
    <form action="#/wp-comments-post.php" method="post" id="comment-form">
      <p>
        <input class="text_input" name="author" id="author" value="Dude Man" tabindex="1" type="text" /> <label for="author"><strong>Name</strong></label>
      </p>
      <p>
        <input class="text_input" name="email" id="email" value="jpcx01@gmail.com" tabindex="2" type="text" /> <label for="email"><strong>Mail</strong></label>
      </p>
      <p>
        <input class="text_input" name="url" id="url" value="" tabindex="3" type="text" /> <label for="url"><strong>Website</strong></label>
      </p>
      <p>
        <textarea class="text_input text_area" name="comment" id="comment" rows="7" cols="36" tabindex="4"></textarea>
      </p>
      <p>
        <input name="submit" class="submit" id="submit" tabindex="5" value="Submit" type="submit" /> <input name="comment_post_ID" value="830" type="hidden" />
      </p>
    </form>
    <div class="clear flat"></div>
  </div>
</div>