  <div class="project">
    <h2>
      <a href="##/web-development/838/kavoon/" rel="bookmark" title="Permanent Link to Kavoon">Kavoon</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://www.kavoon.com" target="_blank" title="Kavoon"><img src="/images/gallery/kavoon.jpg" alt="Kavoon" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/web-development/836/iamww/" rel="bookmark" title="Permanent Link to IAMWW">IAMWW</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://iamww.com" target="_blank" title="IAMWW"><img src="/images/gallery/iamww.gif" alt="IAMWW" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/web-development/834/singularity-concepts/" rel="bookmark" title="Permanent Link to Singularity Concepts">Singularity Concepts</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://singularityconcepts.com" target="_blank" title="Singularity Concepts"><img src="/images/gallery/singularityconcepts.gif" alt="Singularity Concepts" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/corporate/832/phillip-newton/" rel="bookmark" title="Permanent Link to Phillip Newton">Phillip Newton</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://phillipnewton.com" target="_blank" title="Phillip Newton"><img src="/images/gallery/phillipnewton.gif" alt="Phillip Newton" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/corporate/830/totspot/" rel="bookmark" title="Permanent Link to Totspot">Totspot</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://totspot.com/login" target="_blank" title="Totspot"><img src="/images/gallery/totspot.gif" alt="Totspot" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/web-development/828/mootools/" rel="bookmark" title="Permanent Link to mooTools">mooTools</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://mootools.net" target="_blank" title="mooTools"><img src="/images/gallery/mootools.gif" alt="mooTools" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/blog/826/matt/" rel="bookmark" title="Permanent Link to Matt">Matt</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://ma.tt" target="_blank" title="Matt"><img src="/images/gallery/matt.gif" alt="Matt" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/web-development/824/the-escapers/" rel="bookmark" title="Permanent Link to The Escapers">The Escapers</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://www.theescapers.com" target="_blank" title="The Escapers"><img src="/images/gallery/theescapers.gif" alt="The Escapers" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/web-development/822/timothy-van-sas/" rel="bookmark" title="Permanent Link to Timothy van Sas">Timothy van Sas</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://www.incg.nl" target="_blank" title="Timothy van Sas"><img src="/images/gallery/incg.gif" alt="Timothy van Sas" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="project">
    <h2>
      <a href="##/web-development/820/wp-designer/" rel="bookmark" title="Permanent Link to WP Designer">WP Designer</a>
    </h2>
    <p>
      <a href="##/r.php?url=http://www.wpdesigner.com" target="_blank" title="WP Designer"><img src="/images/gallery/wpdesigner.gif" alt="WP Designer" /></a>
    </p>
    <div class="clear"></div>
    <div class="post-ratings">
      <span>5 Votes, Rating: 4.8</span><img src="/images/rating_on.gif" alt="1 Star" title="1 Star" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="2 Stars" title="2 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="3 Stars" title="3 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_on.gif" alt="4 Stars" title="4 Stars" style="border: 0px none ; cursor: pointer;" /><img src="/images/rating_half.gif" alt="5 Stars" title="5 Stars" style="border: 0px none ; cursor: pointer;" />
    </div>
  </div><!-- Item Div -->
  <div class="clear"></div>
  <div class="paging">
    <span>Page 1 of 40</span><strong class="on">1</strong> <a href="##/page/2/">2</a> <a href="##/page/3/">3</a> <a href="##/page/4/">4</a> <a href="##/page/2/"><strong>»</strong></a> ... <a href="##/page/40/">Last »</a>
  </div>
