ul.project-list
  margin-top: 0px
  margin-left: 0
  li
    list-style: none
    padding-top: 10px
    padding-bottom: 10px
    
    background:
      image: url(/images/template/dotted_grey.gif)
      repeat: repeat-x
      position: left top
    
    img
      width: 45px
      float: left
      border: 2px solid #d6d6d6
      margin-right: 10px
      margin-bottom: 5px
    
    a
      font-size: 12px
      font-weight: bold

    p
      margin-top: 10px
  
  li.first
    padding-top: 0px
    background: none !important
  
  li.action
    padding-top: 10px !important
    text-align: center
    text-decoration: underline
    a
      color: #313062 !important
      font-size: 12px !important
      text-transform: uppercase
      