.tabs 
  padding: 0
  width: 303px
  margin-bottom: 10px
  background: url(/images/template/right_tab_bg.gif) repeat-y
 
  ul.ui-tabs-nav 
    margin: 0
    padding: 0
 
    li 
      list-style: none
      margin: 0
      display: inline
 
      a 
        padding: 3px 0.5em
        border-bottom: none
        text-decoration: none
        color: #333
 
      a:link 
        color: #313062
 
      a:hover 
        color: #CC0000
 
    li.ui-tabs-selected 
      a 
        color: #474848
        text-decoration: none
        font-weight: bold
 
      a:hover 
        color: #474848
 
 
  .ui-tabs-hide 
    display: none

  .ui-tabs-panel 
    padding: 5px 10px 10px 10px

    h2 
      display: none
      color: #313062

    h3 
      display: none
  
    p
      margin-top: 10px
    
    ul 
      margin: 5px 0 5px 15px
      padding: 0
      list-style-type: none
 
      li 
        margin: 0
        padding: 3px 0 3px 0
        .stat
          font-size: 9px
          color: #666
