
/* tabs */

.right_tab{
  width:303px;
  margin-bottom:10px;
  background:url(/images/template/right_tab_bg.gif) repeat-y;
}

.right_tab_top{
  width:100%;
  height:43px;
}

.right_tab_body{
  width:100%;
  background:url(/images/template/right_tab_body_bg.gif) no-repeat;
}

.right_tab_body_end{
  width:100%;
  background:url(/images/template/right_tab_body_end_bg.gif) no-repeat bottom left;
  padding-bottom:7px;
}

.right_tab_top ul{
}

.right_tab_top ul li{
  float:left;
  text-align:center;
}

.right_tab_top ul li a{
  color:#000000;
  font-size:12px;
  text-transform:uppercase;
  position:relative;
  top:12px;
}

.right_tab_top_upcomming{
  width:157px;
  height:43px;
  background:url(/images/template/right_tab_top_upcomming.gif) no-repeat;
}

.right_tab_top_upcomming_s{
  width:147px;
  height:43px;
  background:url(/images/template/right_tab_top_upcomming_s.gif) no-repeat;
}

.right_tab_top_bookmarked{
  width:156px;
  height:43px;
  background:url(/images/template/right_tab_top_bookmarked.gif) no-repeat;
}

.right_tab_top_bookmarked_s{
  width:146px;
  height:43px;
  background:url(/images/template/right_tab_top_bookmarked_s.gif) no-repeat;
}

.right_tab_top_recent_activity{
  width:125px;
  height:43px;
  background:url(/images/template/right_tab_top_recent_activity.gif) no-repeat;
}

.right_tab_top_recent_activity_s{
  width:125px;
  height:43px;
  background:url(/images/template/right_tab_top_recent_activity_s.gif) no-repeat;
}

.right_tab_top_tags{
  width:89px;
  height:43px;
  background:url(/images/template/right_tab_top_tags.gif) no-repeat;
}

.right_tab_top_tags_s{
  width:89px;
  height:43px;
  background:url(/images/template/right_tab_top_tags_s.gif) no-repeat;
}

.right_tab_top_top_apps{
  width:89px;
  height:43px;
  background:url(/images/template/right_tab_top_top_apps.gif) no-repeat;
}

.right_tab_top_top_apps_s{
  width:89px;
  height:43px;
  background:url(/images/template/right_tab_top_top_apps_s.gif) no-repeat;
}

.right_tab_body_info{
  width:286px;
  overflow:auto;
  margin-left:14px;
}

.right_tab_body_sites{
  height:220px;
}

.right_tab_body_sites2{
  height:125px;
}

.right_tab_body_sites ul{
  width:255px;
}

.right_tab_body_sites ul li{
  background:url(/images/template/dotted_grey.gif) repeat-x left bottom;
  padding-bottom:10px;
  padding-top:10px;
}

.right_tab_body_sites ul li p img{
  float:left;
  border:2px solid #d6d6d6;
  margin-right:10px;
}

.right_tab_body_sites ul li p{
  color:#000000;
  line-height:18px;
  width:210px;
}

.right_tab_body_sites ul li p a{
  color:#004a80;
  font-weight:bold;
  font-size:12px;
}

.right_tab_body_recent{
  height:265px;
}

.right_tab_body_recent ul{
  width:256px;
}

.right_tab_body_recent ul li{
  background:url(/images/template/dotted_grey.gif) repeat-x left bottom;
  display:block;
  padding-bottom:10px;
  padding-top:10px;
  line-height:18px;
}

.right_tab_body_recent ul li p{
  color:#4a4a4a;
  background:url(/images/template/arrow.gif) no-repeat left 7px;
  padding-left:14px;
}

.right_tab_body_recent ul li p a{
  color:#4a4a4a;
  font-weight:bold;
  text-decoration:underline;
}

.right_tab_body_recent ul li p a:hover{
  text-decoration:none;
}

.right_tab_body_tags{
  height:265px;
}

.right_tab_body_tags p{
  width:256px;
  color:#313131;
  line-height:22px;
}

.right_tab_body_tags p a{
  color:#313131;
}

.right_tab_body_top_apps{
  height:255px;
  padding-top:10px;
}

.right_tab_body_top_apps ul{
  width:256px;
  padding-bottom:15px;
}

.right_tab_body_top_apps ul li{
  border-bottom:1px solid #e8e8e8;
  display:block;
  padding-bottom:2px;
  padding-top:2px;
  line-height:18px;
}

.right_tab_body_top_apps ul li p{
  color:#4b4b4b;
  background:url(/images/template/arrow2.gif) no-repeat left 7px;
  padding-left:14px;
}

.right_tab_body_top_apps ul li p a{
  color:#0054a6;
  font-weight:bold;
}

.right_tab_body_top_apps h4{
  background:url(/images/template/dotted_blue.gif) repeat-x left bottom;
  padding-bottom:2px;
  font-size:13px;
  font-weight:normal;
  color:#000000;
  width:256px;
  margin-bottom:10px;
}

.right_tab_body_info_td span{
  background:url(/images/template/arrow3.gif) no-repeat;
  padding-left:23px;
  display:block;
}

.right_tab_body_info_tb span{
  background:url(/images/template/arrow4.gif) no-repeat;
  padding-left:23px;
  display:block;
}

