ul.project-list {
  margin-top: 0px;
  margin-left: 0; }
ul.project-list li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(/images/template/dotted_grey.gif);
  background-repeat: repeat-x;
  background-position: left bottom; }
ul.project-list li img {
  width: 45px;
  float: left;
  border: 2px solid #d6d6d6;
  margin-right: 10px;
  margin-bottom: 5px; }
ul.project-list li a {
  font-size: 12px;
  font-weight: bold; }
