.site_item_rate {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1; }
.site_item_rate .ratings-control {
  padding-top: 7px;
  clear: left; }
.site_item_rate .ratings-control a {
  float: left;
  display: block;
  width: 25px;
  height: 25px;
  border: 0;
  background-image: url(/images/rating.png); }
.site_item_rate .ratings-control a:focus {
  outline: none; }
.site_item_rate .ratings-control a.rate-init {
  display: none; }
.site_item_rate .ratings-control a.rating_off {
  background-position: 0 0px; }
.site_item_rate .ratings-control a.rating_half {
  background-position: 0 -25px; }
.site_item_rate .ratings-control a.rating_on {
  background-position: 0 -50px; }
.site_item_rate .ratings-control a.rating_selected {
  background-position: 0 -75px; }
.site_item_rate .ratings-control.small a {
  width: 15px;
  height: 15px;
  background-image: url(/images/rating-sm.png); }
.site_item_rate .ratings-control.small a.rating_off {
  background-position: 0 0px; }
.site_item_rate .ratings-control.small a.rating_half {
  background-position: 0 -15px; }
.site_item_rate .ratings-control.small a.rating_on {
  background-position: 0 -30px; }
.site_item_rate .ratings-control.small a.rating_selected {
  background-position: 0 -45px; }
.site_item_rate .votes {
  text-align: right;
  float: right;
  padding: 5px 3px 0 0; }
.site_item_rate .votes img {
  vertical-align: -3px;
  margin-left: 5px; }
.site_item_rate .votes .buggy, .site_item_rate .votes .happy {
  font-size: 13px;
  font-weight: bold; }
.site_item_rate .votes .buggy {
  color: red; }
.site_item_rate .votes .happy {
  color: green; }
.site_item_rate .votes .percent-score {
  float: left;
  font-size: 18px;
  font-weight: bold;
  padding-top: 7px;
  color: green; }
.site_item_rate .votes .percent-score.bad {
  color: red; }
.site_item_rate .votes .percent-score.ok {
  color: orange; }

.post-ratings-loading {
  display: none;
  height: 16px;
  text-align: left; }

.post-ratings-image {
  border: 0px; }

.post-ratings img, .post-ratings-loading img, .post-ratings-image img {
  border: 0px;
  padding: 0px;
  margin: 0px; }
