#project_grid .projects {
  width: 528px; }
#project_grid .projects .project {
  padding: 5px 10px 5px 10px;
  width: 227px;
  float: left;
  margin: 0 15px 15px 0;
  background: #ffffff;
  border: 1px solid #e5e5e5; }
#project_grid .projects .project h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 3px 0;
  padding: 0; }
#project_grid .projects .project h2 a {
  color: #0066cb;
  text-decoration: none; }
#project_grid .projects .project h2 a:hover {
  color: #474848;
  text-decoration: none; }
#project_grid .projects .project p {
  margin: 0 0 4px 0; }
#project_grid .projects .project div.screen-holder {
  border: #e5e5e5 2px solid;
  overflow: hidden;
  width: 225px;
  height: 144px; }
#project_grid .projects .project div.screen-holder img {
  float: none; }
#project_grid .projects .project .post-ratings span {
  padding-top: 2px; }
#project_grid .projects .project.hover {
  background: #ebf3fb;
  border: 1px solid #cce0f5; }
#project_grid .projects .project.hover h2 a {
  color: #474848; }
#project_grid .projects .project.hover h2 a:hover {
  color: #0066cb; }
#project_grid .projects .project.hover p {
  border: #838383 1px solid; }
#project_grid p.empty {
  padding: 70px 50px;
  margin-right: 15px;
  margin-right: 15px;
  text-align: center;
  font-size: 25px;
  color: #666; }
#project_grid .loading {
  display: none;
  float: right;
  padding-right: 10px; }
