.searchbox {
  margin: 0;
  width: 300px; }
.searchbox form {
  padding-top: 0; }
.searchbox .search {
  background: url(/images/input.gif) no-repeat;
  padding: 8px 5px 11px 8px;
  width: 255px;
  color: #444;
  border: none;
  margin: 0;
  float: left; }
.searchbox .find {
  background: url(/images/find.gif) no-repeat;
  border: none;
  height: 32px;
  width: 32px;
  margin: 0;
  float: right; }
