#versions .version {
  margin-top: 5px;
  margin-bottom: 5px; }
#versions .version img {
  vertical-align: middle; }
#versions .version a.project-action {
  color: green;
  font-size: 10px;
  font-weight: normal; }
#versions .version .version-about {
  display: none;
  padding: 5px 10px;
  margin: 0px 5px;
  border: 2px solid silver;
  background-color: #fff; }
#versions .version .version-about .actions {
  font-size: 10px; }
#versions .version .version-about .actions a {
  color: red; }
