#body
  #body_left
    #left_pad
      .details.main
        %h2 Unsubscribed from OpenSourceRails Mailing List
        %p 
          You have been unsubscribed from our mailing list. To resubscribe: 
          = link_to "click here", email_subscribe_url
  #body_right
    - right_box do
      %h3 Back to Home Page
      %p
        = link_to "Back to OpenSourceRails.com", "/"