- if local_assigns[:project]  
  - div_for(project, :class => cycle("site_item", "site_item site_item_last")) do
    %h2
      %span= link_to h(project.title), project_url(project), :rel => "bookmark", :title => h(project.short_description)
    
    .site_item_image= link_to image_tag(project.preview_url), project_url(project)
    
    = ratings(project, :rating_size => "small")