.details {
  padding: 10px 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #ffffff;
  border: 1px solid #e5e5e5; }
.details ul {
  margin: 5px 0 5px 15px;
  list-style-type: none; }
.details ul li {
  padding: 3px 0 3px 0;
  list-style-type: square; }
.details h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #0066cb;
  margin: 0 0 3px 0; }
.details h2 em {
  display: block;
  font-size: .8em;
  font-weight: normal; }
.details h2.form {
  color: #0066cb;
  margin-left: -5px; }
.details legend {
  font-size: 1em;
  margin-left: -12px;
  padding: 0px 3px; }
.details p {
  margin: 0 0 15px 0; }
.details p.tags {
  clear: left;
  padding-top: 5px;
  margin-bottom: 0; }

.details.main {
  background: #ebf3fb;
  border: 1px solid #cce0f5;
  margin-top: 0px;
  padding-left: 20px; }
.details.main h2 {
  color: #474848; }
.details.main h2 .image-loading {
  float: right;
  margin-top: 3px;
  display: none; }
.details.main h2 img {
  vertical-align: middle;
  margin: 0; }
.details.main h2 a.current-screenshot-action {
  font-size: 10px; }
.details.main h2.form {
  color: #0066cb; }
.details.main p {
  overflow: hidden; }
.details.main p img {
  padding: 0;
  margin: 0; }
.details.main p.dragscroll {
  border: #838383 1px solid;
  background-color: lightyellow;
  width: 470px;
  height: 300px;
  cursor: move; }
.details.main .screenshot-actions {
  padding-right: 3px;
  text-align: right;
  z-index: 999999; }
.details.main .bookmark-control {
  float: right; }
.details.main .bookmark-control a {
  color: darkred; }
.details.main .bookmark-control img {
  vertical-align: middle;
  margin-bottom: 9px; }

.sidebar .details {
  border-color: orange; }
