.sidebar { width: 300px; float: right; font-family: Lucida Grande; }
.sidebar h2 { letter-spacing: -1px; font-size: 1.2em; margin: 0 0 10px 0; }
.sidebar .credits { margin-top: 15px; }
.sidebar .credits h2 { margin: 0; }
.sidebar .credits img { vertical-align: middle; margin-right: 5px; }
.sidebar .credits a { font-size: 18px; }
.sidebar .empty { padding-top: 10px; padding-left: 5px; }
.sidebar form { padding-top: 5px; padding-bottom: 5px; }
.sidebar form .field { margin: 0; }
.sidebar form .field.text_field input { width: 259px; margin-top: 0; }
.sidebar form .field.text_area textarea { width: 259px; height: 60px; margin-top: 0; }
.sidebar form .add-screenshot-field { float: right; margin-right: 25px; margin-top: 1px; }
.sidebar form .actions { margin-top: 10px; }
.sidebar form .progress { clear: both; padding-top: 5px; }
.sidebar form .progress img { width: 188px; }
.sidebar .tabs .ui-tabs-panel ul { margin-left: 25px; }
.sidebar .submit { font-size: 14px; font-weight: bold; }
.sidebar .submit img { vertical-align: -5px; }
.sidebar ul.activities .activity .when { display: block; font-size: 11px; color: #666; }
.sidebar div.activities { margin-top: 10px; padding-left: 5px; }
.sidebar div.activities h2 { margin-bottom: 0px; }
.sidebar .action-button { margin-top: 10px; }
.sidebar .action-button #new_project_tab_form { padding-left: 28px; padding-right: 22px; }
.sidebar .action-button #new_project_tab_form .field.text_field input { width: 238px; }
.sidebar .action-button #new_project_tab_form .field.check_box { padding-top: 8px; }
.sidebar .scroll-150 { max-height: 150px; overflow: auto; }
.sidebar .scroll-200 { max-height: 200px; overflow: auto; }
.sidebar .scroll-250 { max-height: 250px; overflow: auto; }
.sidebar .scroll-300 { max-height: 300px; overflow: auto; }
.sidebar #about_us h2 .version { font-size: 10px; vertical-align: 7px; }
.sidebar #about_us .about-text { line-height: 25px; margin-bottom: 10px; }
.sidebar #about_us .about-text a { font-size: 11px; }
