- active_tab :blog

#body.blog
  #body_left
    #left_pad
      %h1== #{AppConfig.site_name} Blog
      - @posts.each do |post|
        .post
          %h2= post.post_title
          .entry
            = simple_format(post.post_content)
        = hr
  #body_right
  