.right_box
  .right_box_top
    .right_box_end
      .right_box_body
        %h3 About Open Source Rails
        %p
          Open Source Rails is a community site dedicated to tracking the best open source Ruby on Rails applications. 
        = link_to "Read More...", about_url, :class => "right_box_readmore"
