- force_show = false unless local_assigns[:force_show]
#about_us{hide_unless(current_or_anon_user.show_welcome! || force_show)}
  - right_box "about" do
    %h3.about== About #{AppConfig.site_name}
    %p
      = AppConfig.site_description

    - unless force_show
      = link_to "Read More...", about_url, :class => "readmore"
      |
      = link_to "Hide", "#", :class => "toggle", :rel => "#about_us"