-# .credits
-#   %h2 Brought to you by:
-#   #ads.rounded
-#     %ul
-#       %li= link_to(image_tag("ads/railsjedi.gif"), "#")
-#       %li= link_to(image_tag("ads/yournamehere.gif"), "#")
-#       = clear