<br />

<div class="left" style="margin-right: 20px">
<h2>DZone</h2>
<p>
<script type="text/javascript">var dzone_url = 'http://www.opensourcerails.com';</script>
<script type="text/javascript">var dzone_title = 'Open Source Rails';</script>
<script type="text/javascript">var dzone_blurb = 'Gallery site with a huge list of open source ruby on rails applications.';</script>
<script type="text/javascript">var dzone_style = '1';</script>
<script language="javascript" src="http://widgets.dzone.com/widgets/zoneit.js"></script>
</p>
</div>
<div class="left">
<h2>Reddit</h2>
<p>
<script>reddit_url='http://www.opensourcerails.com'</script>
<script language="javascript" src="http://reddit.com/button.js?t=1"></script>
</p>
</div>


<%= clear %>
